/* BUTTON CSS */

.button-add-cart {
    /* width: 180px; */
    /* https://clamp-generator.netlify.app/ */
    width: clamp(7.5rem, 5.714vw + 6.107rem, 11.25rem);
    height: clamp(0.938rem, 2.381vw + 0.357rem, 2.5rem);
    font-family: var(--varelaRound);
    background: var(--black);
    color: var(--white);
    /* https://clamp.font-size.app/ */
    font-size: clamp(0.5rem, 0.3839rem + 0.4762vw, 0.8125rem);;
    text-align: center;
    border: none;
    cursor: pointer;
}


