/* BUTTON CSS */

.button-add-cart {
    width: 180px;
    height: 40px;
    font-family: var(--varelaRound);
    background: var(--black);
    color: var(--white);
    font-size: 13px;
    text-align: center;
    border: none;
}


/* MOBILE */

@media screen and (min-width: 320px) and (max-width: 768px)  {

    .button-add-cart {
        width: 120px;
        height: 15px;
        
    }
    
}