/* BUTTON CSS */

.button-add-cart {
    width: 180px;
    height: 40px;
    font-family: var(--varelaRound);
    background: var(--black);
    color: var(--white);
    text-align: center;
    border: none;
    cursor: pointer;
}


