.checkbox label{
    align-self: center;
    font-family: Varela Round; 
    font-size: 14px;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    height: 45px;
    width: 320px;
    background-color: #ffffff; 
    border-bottom:0.2px solid #000000; 
    height: 45px;
    width: 320px;
    padding: 0 15px 0 15px;
  }



  .checkbox input[type="checkbox"] {
    appearance: none;
    align-self: center;
    width: 15px;
    height: 15px; 
    border: 1px solid black; 
    margin: 0 ; 
  }

 .checkbox input[type="checkbox"]:checked {
  background-color: var(--cyan); 
}  

.checkoption {
  display: none;
}



