.header {
    background-image: url("/public/assets/images/oh-my-donut-images/WAVES/header-wave svg.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent;
    height: 500px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    border-radius: 20px;
    position: relative;
    height: 460px;
    object-fit: cover;
    width: 100vw;
    margin-right: 40px;
    margin-left: 40px;
    min-width: 350px;
    min-height: 350px;
    /* pour que l'image passe sous le header */
    z-index: -1;
}

.header-image_category {
    border-radius: 20px;
    position: relative;
    width: 100vw;
    height: 700px;
    margin-right: 40px;
    margin-left: 40px;
    min-width: 350px;
    min-height: 350px;
    z-index: -1;
}

.header-icons-container {
    width: min(95vw, 100%);
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 20px;
    height: 60px;
}

.header-basket{

    height: clamp(19px, 5.208vw - 5px, 44px);
}

.header-burger {
    width: 50px;
}

.CartCounter {
    position: absolute;
    right: 0;
    color: var(--white);
    font-size: clamp(18px, 3vw, 20px);
    display: flex;
    font-weight: bold;
    font-family: var(--varelaRound);
}

.header-burger {
    display: none;
}

.header-logo {
    height: clamp(45px, 5.208vw - 5px, 60px);
    /* align-self: center; */
}

.header_less {
    height: 300px !important;
}

@media (max-width: 768px) {

    .header {
        border-top: 130px solid #FD7094;
    }

    .header-logo {
        margin-top: clamp(0rem, 14.925vw + 25rem, 0.094rem); 
       
    }
    .CartCounter {
        margin-top: clamp(0rem, 14.925vw + 25rem, 0.094rem); 
        
    }
}


@media screen and (min-width: 320px) and (max-width: 768px) {

    .header {
        width: 100%;
        background-size: contain;
        justify-content: center;
        align-items: center;
        height: 423px;
    }

    .header-image {
        width: 100%;
        height: auto;
        border-radius: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 0;
        margin-left: 0;
        z-index: -10000;
    }

    .header-icons-container {
        position: absolute;
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }

    .CartCounter {
        position: initial;
        right: 0;
    }
    .header-burger {
        display: initial;
        width: 30px;
        height: 30px;
        align-self: end;
    }
}