.header {
    background-image: url("/public/assets/images/oh-my-donut-images/WAVES/header-wave svg.svg");
    background-repeat: no-repeat;
    height: 500px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    position: relative;
    top: -20px;
    width: 80vw;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 0 100px; */
    background-image: url("/public/assets/images/oh-my-donut-images/CATEGORY/category-douceurs.jpg");
    z-index: -1;
}

.header-basket {
    position: absolute;
    width: 50px;
}