.header {
    background-image: url("/public/assets/images/oh-my-donut-images/WAVES/header-wave svg.svg");
    background-repeat: no-repeat;
    background-size: auto; 
    background-color: transparent;
    height: 600px; 
    /* ⬆ mis en commentaire par Anne pour la page 404 */
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header-image {
    /* width: min(1444px, 90vw);
    height: 460px; */
    border-radius: 20px; 
    /* background-image: url("/public/assets/images/oh-my-donut-images/CATEGORY/category-douceurs-hd.jpeg"); */
    /* background-repeat: no-repeat;
    background-size: 100%; */
     /* z-index: -10000;  */
     position: relative;

     width: 100vw;
     margin-right: 40px;
     margin-left: 40px;
 
     /* margin: auto; */
 
     min-width: 350px;
 
     min-height: 350px;
 
     /* pour que l'image passe sous le header */
 
     z-index: -1;
}

.header-icons-container {
    width: min(95vw, 100%);
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 20px;
    height: 60px;
}

.header-basket, .header-burger {
    width: 50px;
}

/* .header-basket {
} */ 
/* ⬆️ commenté par Anne car "erreur" */

.CartCounter {
    position: absolute;
    right: 0;
    color: var(--white);
    font-size: clamp(18px, 3vw, 20px);
    display: flex;
    font-weight: bold;
}

.header-burger {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px)  {

    .header {
        width: 100%;
        background-size: contain;
        justify-content: center;
        align-items: center;
        height: 197px;
    }

    .header-image {
        margin-top: 165px;
        width: 100%;
        height: auto;
        border-radius: 0;
        /* background-image: url("/public/assets/images/oh-my-donut-images/CATEGORY/category-douceurs-hd.jpeg"); */
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 0;
        margin-left: 0;

         z-index: -10000; 
    }

    .header-icons-container {
        position: absolute;
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        width: 180px !important;
        height: 40px !important;
        align-self: center;
    }

    .CartCounter {
        position: initial;
        right: 0;
    }

    .header-basket {
        position: initial;
        right: 0;
        width: 22px;
        height: 20px;
        padding-left: 2px;
    }

    .header-burger {
        display: initial;
        width: 30px;
        height: 30px;
        align-self: end;
    }
}