.formFlex {
    display: flex;
    flex-direction: column;
    width: 42vw;
    padding: 30px;
    
}

h4 {
    font-family: 'Lilita One', cursive;
    text-align: start;
}

.redAsterix{
    color: red;
}

input {
    border: none;
    border-bottom: 2px solid darkgrey;
}

p {
    font-family: 'Varela Round', sans-serif;
    margin-top: 50px;
}

.form_errors_payment {
    color: tomato;
    margin-top: 10px;
    margin-bottom: 0;
}

@media (max-width: 768px) {

    .formFlex {
        width: 90%;       
    }

}