.footer {
    background-image: url("/public/assets/images/oh-my-donut-images/WAVES/footer-wave svg.svg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-top: 150px;
}

.footer-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 300px;
}

.footer-container .reset-cart{
    align-self: flex-start;
    width: 35px;
    height: 35px;
    margin: 0 0 30px 50px;
    padding: 23px;
    background-color: var(--cyan);
    cursor: pointer;
}

.footer-logo {
    width: 106px;
    align-self: center;
}


@media screen and (min-width: 320px) and (max-width: 768px)  {

    .footer {
    }
}