.dflex {
    display: flex;
}

.recap_card_section {
    border: 1px solid darkgrey;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    margin: 0 30px;
    width: 61vw;
}

.cart_card_image {
    width: 200px;
    height: 170px;
    object-fit: cover;
}

h3{
    font-family: 'Lilita One', cursive;
}

.p1{
    text-transform: uppercase;
}

.p1, .p2, .buttonQuantityPlus, .buttonQuantityMinus, .ttcPrice, .buttonDelete{
    font-family: 'Varela Round', sans-serif;
}

.buttonQuantityPlus, .buttonQuantityMinus {
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 10px;
    font-weight: bold;
}

.buttonQuantityPlus{
    padding: 2px 7px;
}

.buttonQuantityMinus{
    padding: 2px 8px;
}

.buttonQuantityMinus:hover, .buttonQuantityPlus:hover{
    cursor: pointer;
    font-weight: bolder;
    border: 3px solid black;
}

.labelQuantity {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 5px 30px;
}

.buttonDelete{
    margin-left: 230px;
}

.buttonDelete:hover{
    cursor: pointer;
    font-weight: bolder;
}

.flexCard {
    display: flex;
    align-items: center;
    gap: 30px
}

.flexQuantityPrice, .flexImgInfo{
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {

    .flexCard {
        flex-direction: column;
    }

    .p1, .p2, h3 {
        text-align: center;
    }

    .flexQuantityPrice{
        justify-content: space-between;
    }

    .flexCard {
        align-items: flex-start;
    }

    .buttonDelete{
        margin: 30px 0 30px 10px
    }

}