.dflex {
    display: flex;
}

.recap_card_section {
    border: 1px solid darkgrey;
    border-radius: 20px;
    padding: 20px;
}

.cart_card_image {
    width: 200;
    height: 170px;
}

h3{
    font-family: 'Lilita One', cursive;
}

.p1{
    text-transform: uppercase;
}

.p1, .p2, .buttonQuantity, .ttcPrice, .buttonDelete{
    font-family: 'Varela Round', sans-serif;
}

.buttonQuantity{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 5px;
}

.buttonQuantity:hover{
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid black;
}

.buttonQuantity:hover{
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid black;
}

.labelQuantity {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 5px 30px;
}

.buttonDelete:hover{
    cursor: pointer;
    font-weight: bolder;
}