/* NAVBAR CSS */

.navbar-container {
    padding: 0;
    margin: 0;
}

.navbar-container li {
    border-bottom: 1px solid var(--black);
    background-color: var(--lightFrenchRose);
    font-family: var(--lilitaOne);
    list-style-type: none;
    font-size: 40px;
    font-weight: bold;
    width: 418px;
    height: 85px;
    padding-left: 37px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}