/* NAVBAR CSS */

.navbar-container {
    padding: 0;
    margin: 0;
}

.navbar-container li {
    border-bottom: 1px solid var(--black);
    background-color: var(--lightFrenchRose);
    font-family: var(--lilitaOne);
    list-style-type: none;
    font-size: clamp(14px, 3vw, 40px);
    width: min(418px, 33vw);
    height: 85px;
    padding-left: 37px;
    line-height: 90px;
    cursor: pointer;
}

.subMenu-child{
    background-color: var(--white) !important;
}

.subMenu {
    padding: 0;
    display: none;
}

.isVisible {
    display: initial;
}

@media screen and (min-width: 320px) and (max-width: 768px)  {

    .isDisplayed {
        display: none;
    }

    .navbar-container {
        
        position: absolute;
        top: 90px;
        left: 0;
    }
    
    .navbar-container li {
        width: min(204px, 100vw);
        height: 40px;
        border-bottom: 1px solid var(--black);
        background-color: var(--babyPink);
        font-family: var(--lilitaOne);
        list-style-type: none;
        font-size: clamp(14px, 3vw, 40px);
        padding-left: 20px;
        line-height: 45px;
        cursor: pointer;
    }
}