.d-flex {
    display: flex;
    flex-direction: row;
}

.product-main {
    min-width: 95vw;
}

.product-main h1 {
    margin: 100px 0;
    font-family: var(--lilitaOne);
    text-align: center;
    font-family: Lilita One;
    font-size: 48px;
    text-transform: uppercase;
}

.section-container {
    min-height: 100vh !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
}
