.d-flex {
    display: flex;
    flex-direction: row;
}

.product-main {
    width: min(100vw, 100%);
}

.product-main h1 {
    margin: clamp(30px, 9.375vw, 100px) 0;
    font-family: var(--lilitaOne);
    text-align: center;
    font-size: clamp(20px, 3.5vw, 48px);
    text-transform: uppercase;
}

.section-container {
    min-height: 100vh !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
}

  .allergensContainer{
    display: flex;
    align-items: center;
    font-family: var(--lilitaOne);
    font-size: 20px;
    width: 458px;
    margin-top: 74px;
  }
  
  .allergensContainer img {
    width: 25px;
    height: 25px;
    margin: 0 8px 0 25px;
  }

  .allergens-main {
    margin-right: 15vw;
    margin-left: 15vw;
    display: flex;
    justify-content: flex-end;
  }



/* MOBILE */
@media (max-width: 1200px) {
 
  .section-container {
    gap: 50px;
}
}

@media (max-width: 1180px) {
 
  .section-container {
    gap: 40px;
}
}

@media (max-width: 529px) {
  .section-container {
    justify-content: space-evenly;

}
}

@media (max-width: 480px) {
  .section-container {
    padding: 0 25px;

}
}

@media (max-width: 430px) {
  .section-container {
    padding: 0 15px;

}
}

@media (max-width: 410px) {
  .section-container {
    padding: 0 10px;

}
}

@media (max-width: 400px) {
  .section-container {
    justify-content: center;
    gap: 25px;

}
}

@media (max-width: 395px) {
  .section-container {
    justify-content: center;
    gap: 10px;

}
.product-main h1 {
  margin: 30px 0;
}
}