.productDetailsMain {
    min-width: 95vw;
}

/* 🟢 necessaire pour la mise en page */
.dFlex {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .dFlex {
        flex-direction: column;
        align-items: center;
    }
}